@import "tailwindcss";

@theme  {

    /*TAMBAN CUSTOM UNTUK WARNA*/
   --color-primary: oklch(70.4% 0.14 182.503);
   --color-dark: okclh(12.9% 0.14. 264.695);
   --color-paragraf: okclh(44.6% 0.043 257.281);
   
}